@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-jura: 'Jura', "sans-serif";
  --font-comfortaa: 'Comfortaa', "cursive";
  --color-red-1: #FFFCFC;
  --color-red-2: #FFF6F7;
  --color-red-3: #FFE8EB;
  --color-red-4: #FFD7DE;
  --color-red-5: #FFC8D0;
  --color-red-6: #FFB4C0;
  --color-red-7: #FF9AAB;
  --color-red-8: #FF7993;
  --color-red-9: #FF758F;
  --color-red-10: #F26984;
  --color-red-11: #C13C5C;
  --color-red-12: #720024;
  --color-gris-1: #FCFCFD;
  --color-gris-2: #F9F9FB;
  --color-gris-3: #EFF0F3;
  --color-gris-4: #E7E8EC;
  --color-gris-5: #E0E1E6;
  --color-gris-6: #D8D9E0;
  --color-gris-7: #CDCED7;
  --color-gris-8: #B9BBC6;
  --color-gris-9: #8B8D98;
  --color-gris-10: #80828D;
  --color-gris-11: #62636C;
  --color-gris-12: #1E1F24;
  --color-rouge-4: #FFDAE1;  
  --color-rouge-9: #FF1474;
  --color-bleu-4: #C7F1FF;
  --color-bleu-9: #42C6FF;
  --color-vert: #64E2B7;
  --color-jaune: #FFD63A;
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 20rem;
  --breakpoint-1080: 1080px;
  --breakpoint-720: 720px;
  --breakpoint-896: 896px;
  --breakpoint-360: 360px;
  --aspect-tiktok: 9 / 16;
  --aspect-retro: 4 / 3; 
}

html {
  background-color: #FFF6F7;
}

body {  
  overflow-x: hidden;   
}

section {
  overflow-x: hidden;
}

.categorie-hero-h1 {
  font-size: 6vw;
}

.hero-p {
  font-size: 1.8vw;
}

.hero-mobile-h1 {
  font-size: 3.1vw;
}

.hero-mobile-btn {
  font-size: 2.8vw;
}

.span-font-size {
  font-size: 3.7vw;
}

.link-voir-plus {
  font-size: 2.4vw;
}

.marque-text {
  font-size: 2.2vw;
}

.footer {
  background-image: url("../../public/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@utility connexion {
  background: linear-gradient(180deg, rgba(255, 232, 235, 0.5), rgba(255, 180, 192, 0.8)), url("../../public/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@utility inscription {
  background: linear-gradient(180deg, rgba(255, 232, 235, 0.5), rgba(255, 180, 192, 0.8)), url("../../public/inscription.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@utility otp {
  background: linear-gradient(180deg, rgba(255, 232, 235, 0.5), rgba(255, 180, 192, 0.8)), url("../../public/otp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@utility forgot {
  background: linear-gradient(180deg, rgba(255, 232, 235, 0.5), rgba(255, 180, 192, 0.8)), url("../../public/mdp-forgot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@utility reset {
  background: linear-gradient(180deg, rgba(255, 232, 235, 0.5), rgba(255, 180, 192, 0.8)), url("../../public/mdp-reset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.categorie-hero {
  background: linear-gradient(rgba(30, 31, 36, 0.4), rgba(30, 31, 36, 0.4)), url("../../public/categorie-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.marque-hero {
  background: linear-gradient(rgba(30, 31, 36, 0.4), rgba(30, 31, 36, 0.4)), url("../../public/marque-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tiptap {
  @apply px-2 overflow-auto caret-red-8 h-full outline-0 ring-0 focus:ring-0 focus:border-none;

  ul {
    @apply list-disc list-outside pl-6 space-y-1;
  }
  
  ol {
    @apply list-decimal list-outside pl-6 space-y-1;
  }
}